<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="widget">
          <h3 class="widget-title">Our address</h3>
          <p>Shri Ram Parivar Navdurga Durgapuja Samiti.</p>
          <ul class="address">
            <li><i class="fa fa-map-marker"></i>9th main, 2nd Cross, Begur Main Road, Hogasandra, Bengaluru- 560068</li>
            <li><i class="fa fa-phone"></i> 9738885802/9886194886/9060699109</li>
            <li><i class="fa fa-envelope"></i> <a href="mailto:anujsingh75@gmail.com">anujsingh75@gmail.com</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="widget">
          <h3 class="widget-title">Latest Update</h3>
          <ul class="bullet">
            <li><a href="../../../../assets/documents/d1.pdf">Puja Details</a></li>
            
          </ul>
        </div>
      </div>
      
      <div class="col-md-4">
       <div class="widget">
          <h3 class="widget-title">Feedback</h3>
          <form action="#" class="contact-form">
            <div class="row">
              <div class="col-md-6"><input type="text" placeholder="Your name..."></div>
              <div class="col-md-6"><input type="text" placeholder="Email..."></div>
            </div>
            
            <textarea name="" placeholder="Your message..."></textarea>
            <div class="text-right"><a href="mailto:anujsingh75@gmail.com"><input type="submit" value="Submit"/></a></div>
            
            
          </form>
        </div>
      </div>
    </div> <!-- .row -->

    <p class="colophon">Copyright 2020 Darshanapp.com. All right reserved</p>
  </div><!-- .container -->
</footer>