<div>{{title}}</div>
<h2>hello</h2>
<div class="container px-4">
    <div class="row gx-5">
      <div class="col">
       <div class="p-3 border bg-light"><app-past-events></app-past-events></div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light"><app-upcoming-events></app-upcoming-events></div>
      </div>
    </div>
    <div>
      <tbody>
        <tr *ngFor="let modelData of homeModel|async">
           <td>{{modelData.ID}}</td>
           <td>{{modelData.Title}}</td>
          
        </tr>
      </tbody>
     
    </div>
    <div>
      <app-signup></app-signup>
    </div>
  </div>