<div class="fullwidth-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="section-title">SADASYA</h2>
                <ul class="seremon-list">
                    
                    <li>
                        
                        <div class="seremon-detail">
                            <h3 class="seremon-title"><a href="#">Founder</a></h3>
                            <div class="colophon">
                                <div class="colophon"><i class="fa fa-user"></i>Sanjay Shukla</div>												
                            </div>
                        </div>
                    </li>
                    <li>
                        
                        <div class="seremon-detail">
                            <h3 class="seremon-title"><a href="#">President</a></h3>
                            <div class="colophon">
                                <div class="colophon"><i class="fa fa-user"></i>Gyanprakash Singh</div>												
                            </div>
                        </div>
                    </li>
                    <li>
                    
                        <div class="seremon-detail">
                            <h3 class="seremon-title"><a href="#">Vice President</a></h3>
                            <div class="colophon">
                                <div class="colophon"><i class="fa fa-user"></i> Pradeep Singh,Sailendra Nath Pandey</div>												
                            </div>
                        </div>
                    </li>
                    <li>
                        
                        <div class="seremon-detail">
                            <h3 class="seremon-title"><a href="#">Secretary</a></h3>
                            <div class="colophon">
                                <div class="colophon"><i class="fa fa-user"></i> Ajay Prakash Pandey,Raju Shukla</div>												
                            </div>
                        </div>
                    </li>
                    <li>
                        
                        <div class="seremon-detail">
                            <h3 class="seremon-title"><a href="#">Vice Secretary</a></h3>
                            <div class="colophon">
                                <div class="colophon"><i class="fa fa-user"></i> Pradeep Tiwari</div>												
                            </div>
                        </div>
                    </li>
                
                    <li>										
                        <div class="seremon-detail">
                            <h3 class="seremon-title"><a href="#">Treasurer</a></h3>
                            <div class="colophon">
                                <div class="colophon"><i class="fa fa-user"></i>Ramkesh Yadav,Rajesh Divedi</div>												
                                
                            </div>
                        </div>
                    </li>
                    <li>										
                        <div class="seremon-detail">
                            <h3 class="seremon-title"><a href="#">Coordinator</a></h3>
                            <div class="colophon">
                                <div class="colophon"><i class="fa fa-user"></i>Harendar Rai</div>											
                                
                            </div>
                        </div>
                    </li>
                </ul>

                <!--<div class="text-center">
                    <a href="#" class="button">See all seremons</a>
                </div>-->
            </div>
            <div class="col-md-6">
                <h2 class="section-title"><br></h2>
                <ul class="seremon-list">
                    <li>
                        
                        <div class="seremon-detail">
                            <h3 class="seremon-title"><a href="#">Advisor</a></h3>
                            <div class="colophon">
                                <div class="colophon"><i class="fa fa-user"></i>Satyadev Pandey,Anuj Kumar Singh</div>												
                            </div>
                        </div>
                    </li>
                    <li>
                        
                        <div class="seremon-detail">
                            <h3 class="seremon-title"><a href="#">Working Member</a></h3>
                            <div class="colophon">
                                <div class="colophon"><i class="fa fa-user"></i>Dharmendra Shukla</div>
                                <div class="colophon"><i class="fa fa-user"></i>Ramkesh Yadav</div>
                                <div class="colophon"><i class="fa fa-user"></i>Deena Nath Yadav</div>
                                <div class="colophon"><i class="fa fa-user"></i>S B Singh</div>
                                <div class="colophon"><i class="fa fa-user"></i>Naveen Singh</div>
                                <div class="colophon"><i class="fa fa-user"></i>Ajay Tulsiyan</div>
                                <div class="colophon"><i class="fa fa-user"></i>Jumesh Kumar Swain </div>
                                <div class="colophon"><i class="fa fa-user"></i>Jagnarayan Sharma</div>
                                <div class="colophon"><i class="fa fa-user"></i>Sunil Tiwari</div>
                                <div class="colophon"><i class="fa fa-user"></i>Mohan Vishwakarma</div>
                                <div class="colophon"><i class="fa fa-user"></i>Sandeep Vishwakarma</div>
                                <div class="colophon"><i class="fa fa-user"></i>Visheshwar Yadav</div>
                                
                                
                            </div>
                        </div>
                    </li>
                    
                    
                </ul>

                <!--<div class="text-center">
                    <a href="#" class="button">See all seremons</a>
                </div>-->
            </div>
        </div> <!-- .row -->
    </div> <!-- .container -->
    <div style="text-align: center;"> <p class="section-title"> Special Thanks to Sanjay Shukla and Vivek Sinha</p></div>
</div> <!-- section -->
