

<div class='container-fluid'>  
    <div class="row" style="padding: 20px;">  
        <div class="col-sm-12 btn btn-success">  
         Ramparivar 
        </div>  
    </div>  
    <div class='col-12'>  
        <ngb-carousel>  
            <ng-template ngbSlide>  
                <img src="assets/images/1.jpg" alt="Durga Puja">  
                <div class="carousel-caption">  
                    <h3 style="color: yellow">Delhi Metro</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="assets/images/2.jpg" alt="Durga Puja">  
                <div class="carousel-caption">  
                    <h3 style="color: yellow">Durga Puja</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="assets/images/1.jpg" alt="Durga Puja">  
                <div class="carousel-caption">  
                    <h3 style="color: yellow">Durga Puja</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="assets/images/5.jpg" alt="Durga Puja">  
                <div class="carousel-caption">  
                    <h3 style="color: yellow">Durga Puja</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="assets/images/7.jpg" alt="Durga Puja">  
                <div class="carousel-caption">  
                    <h3 style="color: yellow">Durga Puja</h3>  
                </div>  
            </ng-template>  
        </ngb-carousel>  
    </div>  
  
</div>  
